# C Compiled files - ye line sab handle kar legi
*.o
*.out
*.exe
a.out

# Saare executables - bina extension wale
average
celsius
condition
condition2
equal
even
example1
factorial
fahrenheit
func_table
income
interest
leap
maxmin
prime2
pro
problem2
reverse
simple
simple2
simple3
sum
swap
switch
switch2
swp2
test-ubuntu
two
loop
hello
ascii
ascii2
prime
swp

# Editor files
*.swp
*~
.vscode/
bin/
